* {
    box-sizing: border-box;
}

body {
    background: url("img/pottitt_hvit.png")tomato;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    min-width: 400px;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.logo {
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    letter-spacing: 0.5px;
    font-size: 30px;
    text-align: center;
    color: white;
    white-space: nowrap;
}

.title {
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 12px;
    
}


.download-button {
    background:rgb(220, 220, 183);
    border-radius: 5px;
    text-align: center;
    width: 140px;
    height: 40px;
    padding: 15px;
    margin-top: 400px;
}


h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 0.75em;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 0 20px 0 0;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    text-align: center;
    line-height: 40px;
    color: black;
    padding-top: 30px;
    list-style: none;
    min-width: 400px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

img {
    text-align: center;
    max-width: 200px;
    margin-top: 50px;
}